In [ ]:
CREATE DATABASE IF NOT EXISTS GestionEmployes;

In [ ]:
CREATE TABLE Employes (
    id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
    nom VARCHAR(255),
    age TINYINT(3)
);

In [ ]:
CREATE TABLE departements (
    id INT AUTO_INCREMENT PRIMARY KEY,
    libelle VARCHAR(255),
    description VARCHAR(255)
);

In [ ]:
ALTER TABLE employes ADD salaire INT

In [ ]:
ALTER TABLE Employes
DROP COLUMN age;

In [ ]:
DROP DATABASE IF EXISTS GestionEmployes;