In [ ]:
SELECT round(AVG(track.Milliseconds)/1000, 2) AS avg_milliseconds FROM track;

In [ ]:
SELECT COUNT(*) FROM track;

In [ ]:
SELECT min(track.Milliseconds)/1000 AS minimum, max(track.Milliseconds)/1000 AS maximum FROM track;

In [ ]:
SELECT sum(invoice.Total) AS total FROM invoice;

In [ ]:
SELECT UPPER(Title) AS album_title FROM album;

In [ ]:
SELECT LOWER(Title) AS album_title FROM album;

In [ ]:
SELECT concat(customer.FirstName," ",customer.LastName) as "PrÃ©nom Nom" FROM customer;

In [ ]:
SELECT trim(customer.LastName) as "Nom" FROM customer;

In [ ]:
SELECT replace(album.Title, " " , "_") as "Nom" FROM album;

In [ ]:
SELECT substr(artist.Name, 1, 3) as "Acronyme" FROM artist;

In [ ]:
SELECT Now();

In [ ]:
SELECT invoice.InvoiceDate AS "Invoice year" FROM invoice;

In [ ]:
SELECT YEAR(invoice.InvoiceDate) AS "Invoice year" FROM invoice;

In [ ]:
SELECT CONCAT(MONTH(invoice.InvoiceDate),'-', YEAR(invoice.InvoiceDate)) AS "Invoice month year" FROM invoice;

In [ ]:
SELECT DATEDIFF(MIN(invoice.InvoiceDate), MAX(invoice.InvoiceDate)) AS "Invoice day range" FROM invoice;

In [ ]:
SELECT employee.Email, SHA1(employee.Email) AS sha1_hash, MD5(employee.Email) AS md5_hash FROM employee;

In [ ]:
SELECT COUNT(*) FROM track
GROUP BY track.AlbumId;

In [ ]:
SELECT customer.LastName, SUM(invoice.total) AS invoice_count FROM invoice
JOIN customer ON invoice.CustomerId = customer.CustomerId
GROUP BY customer.CustomerId  
ORDER BY `invoice_count`  ASC;

In [ ]:
SELECT customer.LastName, SUM(invoice.total) AS invoice_count FROM invoice
JOIN customer ON invoice.CustomerId = customer.CustomerId
GROUP BY customer.CustomerId 
HAVING invoice_count > 38
ORDER BY `invoice_count`  ASC;