In [ ]:
SELECT COUNT(Artist.Name) as TOTAL FROM Artist LEFT JOIN Album ON Album.ArtistId = Artist.ArtistId;

In [ ]:
SELECT COUNT(Artist.Name) as TOTAL FROM Artist RIGHT JOIN Album ON Album.ArtistId = Artist.ArtistId;

In [ ]:
SELECT Track.TrackId,Track.Name FROM Track LEFT JOIN InvoiceLine ON InvoiceLine.TrackId = Track.TrackId;

In [ ]:
SELECT Track.TrackId,Track.Name FROM Track RIGHT JOIN InvoiceLine ON InvoiceLine.TrackId = Track.TrackId;